In [1]:
import pandas as pd

In [2]:
LDT_s1 = pd.read_csv('EZ_LDT_s1_correlation_matrix_renamed.csv')
LDT_s2 = pd.read_csv('EZ_LDT_s2_correlation_matrix_renamed.csv')
RMT_s1 = pd.read_csv('EZ_RMT_s1_correlation_matrix_renamed.csv')
RMT_s2 = pd.read_csv('EZ_RMT_s2_correlation_matrix_renamed.csv')

In [3]:
sum=LDT_s1+LDT_s2+RMT_s1+RMT_s2
sum['Unnamed: 0'] = LDT_s1['Unnamed: 0']
ave=sum.loc[:,sum.columns != 'Unnamed: 0']/4
idx = 0 
ave.insert(loc=idx, column='par', value=LDT_s1['Unnamed: 0'])

In [4]:
ave

,par,v1,v2,a,ndt,alpha,alpha_arc_box,mean_log_rt,acc_arc_box
0,v1,NaN,-0.704093,0.392316,-0.124330,0.121065,0.096238,-0.351710,0.761486
1,v2,-0.704093,NaN,-0.321549,0.193795,-0.062213,-0.028129,0.427011,-0.691909
2,a,0.392316,-0.321549,NaN,-0.208976,0.278540,0.295371,0.442425,0.551211
3,ndt,-0.124330,0.193795,-0.208976,NaN,0.465725,0.412598,0.556941,0.099955
4,alpha,0.121065,-0.062213,0.278540,0.465725,NaN,0.968796,0.419399,0.471323
5,alpha_arc_box,0.096238,-0.028129,0.295371,0.412598,0.968796,NaN,0.455484,0.477736
6,mean_log_rt,-0.351710,0.427011,0.442425,0.556941,0.419399,0.455484,NaN,0.015531
7,acc_arc_box,0.761486,-0.691909,0.551211,0.099955,0.471323,0.477736,0.015531,NaN

In [5]:
ave = ave.fillna(1)

In [6]:
ave= ave.round(3)

In [7]:
ave.to_csv('EZ_average_distinct_correlation_across_4_data_study1.csv')